In [1]:
import pandas

In [2]:
visit1 = pandas.read_csv("../data/visit-1.csv")
visit2 = pandas.read_csv("../data/visit-2.csv")
visit3 = pandas.read_csv("../data/visit-3.csv")
visit4 = pandas.read_csv("../data/visit-4.csv")
visit5 = pandas.read_csv("../data/visit-5.csv")

In [3]:
visit1 = pandas.concat([visit1, visit2, visit3, visit4, visit5])

In [4]:
data = visit1

In [5]:
data

,ID,MRI_ID,visit,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF
0,1,0001_MR1,1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883
1,2,0002_MR1,1,0,M,R,75,12,NaN,23.0,very mild,1678.0,0.736,1.046
2,4,0004_MR1,1,0,F,R,88,18,3.0,28.0,none,1215.0,0.710,1.444
3,5,0005_MR1,1,0,M,R,80,12,4.0,28.0,none,1689.0,0.712,1.039
4,7,0007_MR1,1,0,M,R,71,16,NaN,28.0,very mild,1357.0,0.748,1.293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,36,0036_MR5,5,2369,F,R,75,13,4.0,29.0,none,1349.0,0.778,1.301
2,48,0048_MR5,5,1233,M,R,69,16,1.0,4.0,mild,1701.0,0.676,1.032
3,70,0070_MR5,5,2386,M,R,86,17,1.0,30.0,none,1720.0,0.705,1.02
4,73,0073_MR5,5,2517,F,R,77,14,3.0,29.0,none,1504.0,0.769,1.167
5,127,0127_MR5,5,2639,M,R,86,18,1.0,30.0,very mild,1670.0,0.669,1.051

In [6]:
data.isna().sum()

ID         0
MRI_ID     0
visit      0
delay      0
sex        0
hand       0
age        0
YOE        0
SES       19
MMSE       2
CDR        0
eTIV       2
nWBV       0
ASF        2
dtype: int64

In [7]:
data.SES.describe()

count    354.000000
mean       2.460452
std        1.134005
min        1.000000
25%        2.000000
50%        2.000000
75%        3.000000
max        5.000000
Name: SES, dtype: float64

In [8]:
data.SES.value_counts()

2.0    103
1.0     88
3.0     82
4.0     74
5.0      7
Name: SES, dtype: int64

In [9]:
data.SES = data.SES.fillna(data.SES.median())

In [10]:
data = data.fillna(method="ffill")

In [11]:
data.isna().sum()

ID        0
MRI_ID    0
visit     0
delay     0
sex       0
hand      0
age       0
YOE       0
SES       0
MMSE      0
CDR       0
eTIV      0
nWBV      0
ASF       0
dtype: int64

In [12]:
data

,ID,MRI_ID,visit,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF
0,1,0001_MR1,1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883
1,2,0002_MR1,1,0,M,R,75,12,2.0,23.0,very mild,1678.0,0.736,1.046
2,4,0004_MR1,1,0,F,R,88,18,3.0,28.0,none,1215.0,0.710,1.444
3,5,0005_MR1,1,0,M,R,80,12,4.0,28.0,none,1689.0,0.712,1.039
4,7,0007_MR1,1,0,M,R,71,16,2.0,28.0,very mild,1357.0,0.748,1.293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,36,0036_MR5,5,2369,F,R,75,13,4.0,29.0,none,1349.0,0.778,1.301
2,48,0048_MR5,5,1233,M,R,69,16,1.0,4.0,mild,1701.0,0.676,1.032
3,70,0070_MR5,5,2386,M,R,86,17,1.0,30.0,none,1720.0,0.705,1.02
4,73,0073_MR5,5,2517,F,R,77,14,3.0,29.0,none,1504.0,0.769,1.167
5,127,0127_MR5,5,2639,M,R,86,18,1.0,30.0,very mild,1670.0,0.669,1.051

In [13]:
data = data.sort_values(by=['ID', 'MRI_ID'])

In [14]:
data

,ID,MRI_ID,visit,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF
0,1,0001_MR1,1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883
0,1,0001_MR2,2,457,M,R,88,14,2.0,30.0,none,2004.0,0.681,0.876
1,2,0002_MR1,1,0,M,R,75,12,2.0,23.0,very mild,1678.0,0.736,1.046
1,2,0002_MR2,2,560,M,R,76,12,2.0,28.0,very mild,1738.0,0.713,1.01
0,2,0002_MR3,3,1895,M,R,80,12,2.0,22.0,very mild,1698.0,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,185,0185_MR2,2,842,M,R,82,16,1.0,28.0,very mild,1693.0,0.694,1.037
56,185,0185_MR3,3,2297,M,R,86,16,1.0,26.0,very mild,1688.0,0.675,1.04
149,186,0186_MR1,1,0,F,R,61,13,2.0,30.0,none,1319.0,0.801,1.331
143,186,0186_MR2,2,763,F,R,63,13,2.0,30.0,none,1327.0,0.796,1.323
57,186,0186_MR3,3,1608,F,R,65,13,2.0,30.0,none,1333.0,0.801,1.317

In [15]:
ID = data['ID'].apply(lambda x: str(x).zfill(4))
mriID = data['MRI_ID'].str.slice(0, 4)
mriVisit = data['MRI_ID'].str.slice(-1)
mriVisit = mriVisit.astype(int)

In [16]:
(ID == mriID).all()

True

In [17]:
(mriVisit == data.visit).all()

True

In [18]:
newAge = data
newAge = newAge.groupby(['ID'])['age'].min().reset_index()
newAge.rename(columns={'age':'start'}, inplace = True)

In [19]:
newAge = newAge.sort_values(by=['ID'])

In [20]:
data = pandas.merge(data, newAge, on='ID')

In [21]:
data

,ID,MRI_ID,visit,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF,start
0,1,0001_MR1,1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883,87
1,1,0001_MR2,2,457,M,R,88,14,2.0,30.0,none,2004.0,0.681,0.876,87
2,2,0002_MR1,1,0,M,R,75,12,2.0,23.0,very mild,1678.0,0.736,1.046,75
3,2,0002_MR2,2,560,M,R,76,12,2.0,28.0,very mild,1738.0,0.713,1.01,75
4,2,0002_MR3,3,1895,M,R,80,12,2.0,22.0,very mild,1698.0,0.701,1.034,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,185,0185_MR2,2,842,M,R,82,16,1.0,28.0,very mild,1693.0,0.694,1.037,80
369,185,0185_MR3,3,2297,M,R,86,16,1.0,26.0,very mild,1688.0,0.675,1.04,80
370,186,0186_MR1,1,0,F,R,61,13,2.0,30.0,none,1319.0,0.801,1.331,61
371,186,0186_MR2,2,763,F,R,63,13,2.0,30.0,none,1327.0,0.796,1.323,61
372,186,0186_MR3,3,1608,F,R,65,13,2.0,30.0,none,1333.0,0.801,1.317,61

In [22]:
data['start'] = data['start'] + (data['visit'] - 1)

In [23]:
data

,ID,MRI_ID,visit,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF,start
0,1,0001_MR1,1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883,87
1,1,0001_MR2,2,457,M,R,88,14,2.0,30.0,none,2004.0,0.681,0.876,88
2,2,0002_MR1,1,0,M,R,75,12,2.0,23.0,very mild,1678.0,0.736,1.046,75
3,2,0002_MR2,2,560,M,R,76,12,2.0,28.0,very mild,1738.0,0.713,1.01,76
4,2,0002_MR3,3,1895,M,R,80,12,2.0,22.0,very mild,1698.0,0.701,1.034,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,185,0185_MR2,2,842,M,R,82,16,1.0,28.0,very mild,1693.0,0.694,1.037,81
369,185,0185_MR3,3,2297,M,R,86,16,1.0,26.0,very mild,1688.0,0.675,1.04,82
370,186,0186_MR1,1,0,F,R,61,13,2.0,30.0,none,1319.0,0.801,1.331,61
371,186,0186_MR2,2,763,F,R,63,13,2.0,30.0,none,1327.0,0.796,1.323,62
372,186,0186_MR3,3,1608,F,R,65,13,2.0,30.0,none,1333.0,0.801,1.317,63

In [24]:
data.age = data.start

In [25]:
data

,ID,MRI_ID,visit,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF,start
0,1,0001_MR1,1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883,87
1,1,0001_MR2,2,457,M,R,88,14,2.0,30.0,none,2004.0,0.681,0.876,88
2,2,0002_MR1,1,0,M,R,75,12,2.0,23.0,very mild,1678.0,0.736,1.046,75
3,2,0002_MR2,2,560,M,R,76,12,2.0,28.0,very mild,1738.0,0.713,1.01,76
4,2,0002_MR3,3,1895,M,R,77,12,2.0,22.0,very mild,1698.0,0.701,1.034,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,185,0185_MR2,2,842,M,R,81,16,1.0,28.0,very mild,1693.0,0.694,1.037,81
369,185,0185_MR3,3,2297,M,R,82,16,1.0,26.0,very mild,1688.0,0.675,1.04,82
370,186,0186_MR1,1,0,F,R,61,13,2.0,30.0,none,1319.0,0.801,1.331,61
371,186,0186_MR2,2,763,F,R,62,13,2.0,30.0,none,1327.0,0.796,1.323,62
372,186,0186_MR3,3,1608,F,R,63,13,2.0,30.0,none,1333.0,0.801,1.317,63

In [26]:
data.ID.unique()

array([  1,   2,   4,   5,   7,   8,   9,  10,  12,  13,  14,  16,  17,
        18,  20,  21,  22,  23,  26,  27,  28,  29,  30,  31,  32,  34,
        35,  36,  37,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
        49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  60,  61,  62,
        63,  64,  66,  67,  68,  69,  70,  71,  73,  75,  76,  77,  78,
        79,  80,  81,  85,  86,  87,  88,  89,  90,  91,  92,  94,  95,
        96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 108, 109,
       111, 112, 113, 114, 116, 117, 118, 119, 120, 121, 122, 124, 126,
       127, 128, 129, 131, 133, 134, 135, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 149, 150, 152, 154, 156, 157, 158, 159,
       160, 161, 162, 164, 165, 169, 171, 172, 174, 175, 176, 177, 178,
       179, 181, 182, 183, 184, 185, 186], dtype=int64)

In [27]:
data.ID

0        1
1        1
2        2
3        2
4        2
      ...
368    185
369    185
370    186
371    186
372    186
Name: ID, Length: 373, dtype: int64

In [28]:
data['ID'], mapping = pandas.factorize(data['ID'])
data['ID'] = data['ID'].add(1)
data['ID'] = data['ID'].apply(lambda x: str(x).zfill(4))
mriVisit = data['MRI_ID'].str.slice(-4)
data['ID'] = data['ID'].str.cat(mriVisit, sep='')

In [29]:
data

,ID,MRI_ID,visit,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF,start
0,0001_MR1,0001_MR1,1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883,87
1,0001_MR2,0001_MR2,2,457,M,R,88,14,2.0,30.0,none,2004.0,0.681,0.876,88
2,0002_MR1,0002_MR1,1,0,M,R,75,12,2.0,23.0,very mild,1678.0,0.736,1.046,75
3,0002_MR2,0002_MR2,2,560,M,R,76,12,2.0,28.0,very mild,1738.0,0.713,1.01,76
4,0002_MR3,0002_MR3,3,1895,M,R,77,12,2.0,22.0,very mild,1698.0,0.701,1.034,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,0149_MR2,0185_MR2,2,842,M,R,81,16,1.0,28.0,very mild,1693.0,0.694,1.037,81
369,0149_MR3,0185_MR3,3,2297,M,R,82,16,1.0,26.0,very mild,1688.0,0.675,1.04,82
370,0150_MR1,0186_MR1,1,0,F,R,61,13,2.0,30.0,none,1319.0,0.801,1.331,61
371,0150_MR2,0186_MR2,2,763,F,R,62,13,2.0,30.0,none,1327.0,0.796,1.323,62
372,0150_MR3,0186_MR3,3,1608,F,R,63,13,2.0,30.0,none,1333.0,0.801,1.317,63

In [30]:
data = data.drop(columns=['MRI_ID', 'visit', 'start'])

In [31]:
data

,ID,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF
0,0001_MR1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883
1,0001_MR2,457,M,R,88,14,2.0,30.0,none,2004.0,0.681,0.876
2,0002_MR1,0,M,R,75,12,2.0,23.0,very mild,1678.0,0.736,1.046
3,0002_MR2,560,M,R,76,12,2.0,28.0,very mild,1738.0,0.713,1.01
4,0002_MR3,1895,M,R,77,12,2.0,22.0,very mild,1698.0,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...
368,0149_MR2,842,M,R,81,16,1.0,28.0,very mild,1693.0,0.694,1.037
369,0149_MR3,2297,M,R,82,16,1.0,26.0,very mild,1688.0,0.675,1.04
370,0150_MR1,0,F,R,61,13,2.0,30.0,none,1319.0,0.801,1.331
371,0150_MR2,763,F,R,62,13,2.0,30.0,none,1327.0,0.796,1.323
372,0150_MR3,1608,F,R,63,13,2.0,30.0,none,1333.0,0.801,1.317

In [32]:
data = data.rename(columns={'ID': 'MRI_ID'})

In [33]:
data

,MRI_ID,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF
0,0001_MR1,0,M,R,87,14,2.0,27.0,none,1987.0,0.696,0.883
1,0001_MR2,457,M,R,88,14,2.0,30.0,none,2004.0,0.681,0.876
2,0002_MR1,0,M,R,75,12,2.0,23.0,very mild,1678.0,0.736,1.046
3,0002_MR2,560,M,R,76,12,2.0,28.0,very mild,1738.0,0.713,1.01
4,0002_MR3,1895,M,R,77,12,2.0,22.0,very mild,1698.0,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...
368,0149_MR2,842,M,R,81,16,1.0,28.0,very mild,1693.0,0.694,1.037
369,0149_MR3,2297,M,R,82,16,1.0,26.0,very mild,1688.0,0.675,1.04
370,0150_MR1,0,F,R,61,13,2.0,30.0,none,1319.0,0.801,1.331
371,0150_MR2,763,F,R,62,13,2.0,30.0,none,1327.0,0.796,1.323
372,0150_MR3,1608,F,R,63,13,2.0,30.0,none,1333.0,0.801,1.317

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373 entries, 0 to 372
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MRI_ID  373 non-null    object
 1   delay   373 non-null    int64
 2   sex     373 non-null    object
 3   hand    373 non-null    object
 4   age     373 non-null    int64
 5   YOE     373 non-null    int64
 6   SES     373 non-null    float64
 7   MMSE    373 non-null    float64
 8   CDR     373 non-null    object
 9   eTIV    373 non-null    float64
 10  nWBV    373 non-null    float64
 11  ASF     373 non-null    object
dtypes: float64(4), int64(3), object(5)
memory usage: 37.9+ KB

In [35]:
data['SES'] = data['SES'].astype(int)

In [36]:
for name in "sex hand SES CDR".split():
    data[name] = data[name].astype("category")

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373 entries, 0 to 372
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MRI_ID  373 non-null    object
 1   delay   373 non-null    int64
 2   sex     373 non-null    category
 3   hand    373 non-null    category
 4   age     373 non-null    int64
 5   YOE     373 non-null    int64
 6   SES     373 non-null    category
 7   MMSE    373 non-null    float64
 8   CDR     373 non-null    category
 9   eTIV    373 non-null    float64
 10  nWBV    373 non-null    float64
 11  ASF     373 non-null    object
dtypes: category(4), float64(3), int64(3), object(2)
memory usage: 28.5+ KB

In [38]:
#data['ASF'] = data['ASF'].astype(float) ValueError: could not convert string to float: '1,38'

In [39]:
data['ASF'].str.replace(",", ".")

0      0.883
1        NaN
2      1.046
3        NaN
4        NaN
       ...
368      NaN
369      NaN
370    1.331
371      NaN
372      NaN
Name: ASF, Length: 373, dtype: object

In [40]:
newASF = []
for letter in data.ASF:
    new = str(letter).replace(",", ".")
    newASF.append(new)
data.ASF = newASF

In [41]:
data['ASF'] = data['ASF'].astype(float)

In [42]:
data.ASF

0      0.883
1      0.876
2      1.046
3      1.010
4      1.034
       ...
368    1.037
369    1.040
370    1.331
371    1.323
372    1.317
Name: ASF, Length: 373, dtype: float64

In [43]:
data.iloc[367].ASF

103.0

In [44]:
num = 0
for i in newASF:
    num += 1
    if i[1] != ".":
        incorrect = str(data.loc[num - 1].ASF)
        while incorrect[1] != ".":
            attempt = float(incorrect)
            attempt /= 10
            incorrect = str(attempt)
        data.at[num - 1, 'ASF'] = float(attempt)

In [45]:
data.iloc[367].ASF

1.03

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373 entries, 0 to 372
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MRI_ID  373 non-null    object
 1   delay   373 non-null    int64
 2   sex     373 non-null    category
 3   hand    373 non-null    category
 4   age     373 non-null    int64
 5   YOE     373 non-null    int64
 6   SES     373 non-null    category
 7   MMSE    373 non-null    float64
 8   CDR     373 non-null    category
 9   eTIV    373 non-null    float64
 10  nWBV    373 non-null    float64
 11  ASF     373 non-null    float64
dtypes: category(4), float64(4), int64(3), object(1)
memory usage: 36.6+ KB

In [47]:
data.CDR

0           none
1           none
2      very mild
3      very mild
4      very mild
         ...
368    very mild
369    very mild
370         none
371         none
372         none
Name: CDR, Length: 373, dtype: category
Categories (8, object): ['midl', 'mild', 'moderate', 'none', 'very miId', 'very midl', 'very mild', 'vry mild']

In [48]:
data['CDR'] = data['CDR'].str.replace('midl', 'mild')
data['CDR'] = data['CDR'].str.replace('very miId', 'very mild')
data['CDR'] = data['CDR'].str.replace('very midl', 'very mild')
data['CDR'] = data['CDR'].str.replace('vry mild', 'very mild')

In [49]:
data.CDR.unique()

array(['none', 'very mild', 'mild', 'moderate'], dtype=object)

In [50]:
data['CDR'] = data['CDR'].astype("category")

In [51]:
data.CDR.unique()

['none', 'very mild', 'mild', 'moderate']
Categories (4, object): ['mild', 'moderate', 'none', 'very mild']

In [52]:
data

,MRI_ID,delay,sex,hand,age,YOE,SES,MMSE,CDR,eTIV,nWBV,ASF
0,0001_MR1,0,M,R,87,14,2,27.0,none,1987.0,0.696,0.883
1,0001_MR2,457,M,R,88,14,2,30.0,none,2004.0,0.681,0.876
2,0002_MR1,0,M,R,75,12,2,23.0,very mild,1678.0,0.736,1.046
3,0002_MR2,560,M,R,76,12,2,28.0,very mild,1738.0,0.713,1.010
4,0002_MR3,1895,M,R,77,12,2,22.0,very mild,1698.0,0.701,1.034
...,...,...,...,...,...,...,...,...,...,...,...,...
368,0149_MR2,842,M,R,81,16,1,28.0,very mild,1693.0,0.694,1.037
369,0149_MR3,2297,M,R,82,16,1,26.0,very mild,1688.0,0.675,1.040
370,0150_MR1,0,F,R,61,13,2,30.0,none,1319.0,0.801,1.331
371,0150_MR2,763,F,R,62,13,2,30.0,none,1327.0,0.796,1.323
372,0150_MR3,1608,F,R,63,13,2,30.0,none,1333.0,0.801,1.317

In [53]:
data.to_pickle("../data/processed.pkl.gz")